html{
  height:100%;
}
.wrapper{
  position: relative;
  width: 100%;
}
body {
  text-align: center;
  }    
.clearfix::after{
   content: "";
   display: block;
   clear: both;
}
.cleafix{
  width: 100%;
}
header {
  height: 50px;
  background-color: #2B2B2B;
}
.left {
  float: left;
}
.fright{
  float:right;
}
.right{
  float: left;
}
.clearfix ul {
  margin: 0px; 
}
header ul a{
  text-decoration: none;
  color: #fff;
}
header li {
  list-style: none;
  padding: 15px 10px;  
}
.about {
  font-size: 1.5rem;
}
.aboutp{
  font-size: 1.5rem;

}
.footer {
  height: 70px;
  width: 100%;
  background-color: #283A4B;
  margin: auto;
  color: white;
  position: absolute;
  bottom: -70px;
}
footer p{
  font-size: 0.8rem;
  margin: 0%;
  padding-top: 15px; 
}
.tweet_content{
  text-align: center 
}
.about_main{
  background-color: azure;
}
.tweet_list{
  text-align: center 
}
.test{
  margin: 0 auto;
  width: 800px;
  background-color:lightsteelblue
}
